@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);
    --violet-600: hsl(281, 83%, 54%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-work-sans);
}
